[user]
	name = Vincent van Haaff
  email = vincent@vanhaaff.com

[core]
  pager = cat
  editor = mvim -f
	excludesfile = /Users/vincent/.gitignore_global

[alias]
  gl  = log -10 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
  gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

  com = commit
  cm = commit -m

  co = checkout

  stat = status
  st = status

  unstage = reset HEAD
  uns = reset HEAD

  pu = pull upstream master

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto


[difftool]

[difftool "Kaleidoscope"]

[diff]

[difftool "Kaleidoscope"]

[merge]
	tool = vimdiff

[github]
  user = flyingoctopus
  password = einstein
	token = e5c32d3086f9ea720b2c595a65bdc92a

[hub]
	protocol = https
[difftool]
[diff]
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
