.DS_Store
..gitignore.un~
dotfiles/..gitconfig.un~
dotfiles/..hgrc.un~
dotfiles/config/pianobar/.config.un~
dotfiles/screeninator/scripts/.screeninator.un~
dotfiles/vim/backup/bundle/peepopen/plugin/..vimrc.un~
dotfiles/vim/backup/colors/.molokai.vim.un~
dotfiles/..vimrc.un~
dotfiles/vim/backup/tmp/backup/.gocephalopad.sh~
dotfiles/vim/backup/tmp/backup/.netrwhist~
dotfiles/vim/backup/tmp/backup/.placeholder
dotfiles/vim/backup/tmp/backup/.profile~
dotfiles/vim/backup/tmp/backup/.screenrc~
dotfiles/vim/backup/tmp/backup/.vimperatorrc~
dotfiles/vim/backup/tmp/backup/.vimrc~
dotfiles/vim/backup/tmp/backup/COMMIT_EDITMSG~
dotfiles/vim/backup/tmp/backup/gosandbox.sh~
dotfiles/vim/backup/tmp/backup/index.php~
dotfiles/vim/backup/tmp/backup/molokai.vim~
dotfiles/vim/backup/tmp/backup/peepopen.vim~
dotfiles/vim/backup/tmp/backup/vhs.sh~
dotfiles/vim/backup/tmp/swap/.placeholder
dotfiles/.vim.old/.netrwhist
*~
hg/*

